div.sysSupplierCofMenuShare
{
	font-size: 0.9em;
}

div.sysSupplierCofMenuShare table.tableStyle tr td input.rangeText,
div.sysSupplierCofMenuShare div.explain
{
	position: relative;
	top:-5px;
	left:10px;
}

div.sysSupplierCofMenuShare table.tableStyle tr td div.explain
{
	display: inline-block;
}

div.sysSupplierCofMenuShare table.tableStyle tr td input[type=text].rangeText
{
	width: 70px;
}

div.sysSupplierCofMenuShare div.submit
{
	margin-top: 10px;
	width: 100%;
	text-align: right;
}

div.sysSupplierCofMenuShare table.tableStyle tr td input[type=number]
{
	width: 50px;
}