<div class="usageAnalyze">
	<div class="summary">
		<div class="block">
			<div class="title">%{Total Files}</div>
			<div class="data">
				<div class="unit"></div>
				<div class="value">4213</div>
			</div>
		</div>
		<div class="block">
			<div class="title">%{Used Space}</div>
			<div class="data">
				<div class="unit">GB</div>
				<div class="value">431</div>
			</div>
		</div>
		<div class="block">
			<div class="title">%{Budget Estimates} (%{month})</div>
			<div class="data">
				<div class="unit">NTD</div>
				<div class="value">1,392</div>
			</div>
		</div>
	</div>
	<div id="main">
		<div id="sequence"></div>
		<div id="chart">
			<div id="explanation" style="visibility: hidden;">
				<span class="percentage"></span><br/>
				<span class="descript"></span>
			</div>
		</div>
	</div>
	<div id="sidebar">
		<!-- <input type="checkbox" id="togglelegend" checked="checked"> Legend<br/> -->
		<div id="legend"></div>
	</div>
</div>