<div class="browser">
	<div class="operate"></div>
  	<div class="list"></div>
  	<div class="table">
		<div class="tr_name">
			<div class="table_td">name</div>
		</div>
		<div class="tr_date">
			<div class="table_td">date</div>
		</div>
		<div class="tr_size">
			<div class="table_td">size</div>
		</div>
		<div>
			<div>path</div>
		</div>
	</div>
	<div class="content"></div>
</div>