<div class="sysSupplierCofMenuBasic">
	<table class="tableStyle">
		<th colspan="2">%{sysSupplierCofMenuBasic.BasicSetting}</th>
         <tr>
            <td>%{sysSupplierCofMenuBasic.enableSupplier}</td>
            <td>
                <div class="enableSupplier"></div>
            </td>
        </tr>
         <tr>
            <td>%{sysSupplierCofMenuBasic.enableBackup}</td>
            <td>
                <div class="enableBackup"></div>
            </td>
        </tr>
        <tr>
            <td>%{sysSupplierCofMenuBasic.serverIp}</td>
            <td><input type="text" name="ip"></td>
        </tr>
        <tr>
            <td>%{sysSupplierCofMenuBasic.username}</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>%{sysSupplierCofMenuBasic.password}</td>
            <td><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td>%{sysSupplierCofMenuBasic.confirmPassword}</td>
            <td><input type="password" name="pass2"></td>
        </tr>        
    </table>
    <div class="submit">
        <input type="button" name="basicSubmit" value="確定">
    <div>
</div>