div.search {
    margin-left: 10px;
}

div.search > div#icon {
    background: url(./images/search.png);
    background-size: 25px;
    -webkit-background-size: 25px;
    float: left;
    height: 25px;
    width: 25px;
}

div.search input#txt {
    float: left;
    font-size: 24px;
    height: 24px;
    margin-left: 5px;
    width: 140px;
}