<div class="nodeRiskInfo">
	<div class="danger">
		<div class="totalInfoTitle">%{nodeRiskInfo.danger}</div>
		<div class="content">
			<div class="fileImg"></div>
			<div class="dangerImg"></div>
			<div class="show">
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="live">
		<div class="totalInfoTitle">%{nodeRiskInfo.live}</div>
		<div class="content">
			<div class="cloudImg"></div>
			<div class="liveImg"></div>
			<div class="show">
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="riskNode">
		<div class="totalInfoTitle">%{nodeRiskInfo.riskNode}</div>
		<div class="content">
			<div class="cloudImg"></div>
			<div class="riskImg"></div>
			<div class="show">
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>