<div class="fileHealthy">

<div class="summary">
	<div class="block">
		<div class="title">總檔案數</div>
		<div class="data">
			<div class="value">5,234</div>
			<div class="unit"></div>
		</div>
	</div>
	<div class="block">
		<div class="title">資料完整性</div>
		<div class="data">
			<div class="value">100%</div>
			<div class="unit">0 files are lost</div>
		</div>
	</div>
	<div class="block">
		<div class="title">檔案健康度</div>
		<div class="data">
			<div class="value">100%</div>
			<div class="unit">0 files are unhealthy</div>
		</div>
	</div>
	<div class="block">
		<div class="title">分析用戶</div>
		<div class="data">
			<div class="value">-</div>
			<div class="unit"></div>
		</div>
	</div>

	<div class="config">
		<div>
			<div class="description">節點定期維護</div>
			<div class="controll"></div>
		</div>
		<div>
			<div class="description">檔案自動修復</div>
			<div class="controll"></div>
		</div>
		<div>
			<div class="description">用戶操作事件</div>
			<div class="controll"></div>
		</div>
	</div>
</div>
<div class="cloud"></div>
<div class="users">
	<div class="user online"><div class="name">user C</div></div>
	<div class="user online"><div class="name">user D</div></div>
	<div class="user online"><div class="name">user E</div></div>
	<div class="user online"><div class="name">user F</div></div>
	<div class="user offline"><div class="name">user A</div></div>
	<div class="user offline"><div class="name">user B</div></div>
	<div class="user offline"><div class="name">user G</div></div>
</div>

</div>