<div class="elucia window">
	<div class="header">
		<div class="title">my window</div>
		<div class="operate">
			<a class="min"></a>
			<a class="max"></a>
			<a class="close"></a>
		</div>
	</div>
	<div class="content"></div>
	<div class="resize"></div>
</div>