<div class="sysConfigPerson">
	<div>
		<div class="picArea">
			<div class="token"></div>
		</div>
		<div class="tokenContent">
			<div class="subTitle">%{sysConfigPerson.expireTime}</div>
			<div><input name="tokenTime" type="text" value="86400">%{s}</div>
		</div>
	</div>
</div>