<div class="register">
	<div class="main">
		<div class="title">Register New Device</div>
		<fieldset>
			<div class="row">
				<label>Account</label><input class="account" /><div class="tip"></div>
			</div>
			<div class="row">
				<label>Password</label><input class="password" type="password" /><div class="tip"></div>
			</div>
			<div class="row">
				<label>Confirm Password</label><input class="confirm" type="password" />
			</div>
		</fieldset>
	</div>
	<div class="footer">			
		<span class="message">Enter your account and password</span>
		<fieldset>	
			<button class="button" id="login" disabled="true">Login</button>
			<button class="button" id="new" disabled="true">Register New Account</button>
		</fieldset>
	</div>
</div>