<div class="line-chart">
	<canvas class="bottom-layer"></canvas>
	<canvas class="axis-layer"></canvas>
	<canvas class="area-layer"></canvas>
	<canvas class="line-layer"></canvas>
	<canvas class="top-layer"></canvas>
</div>