<div>
	<div class="subTotalInfo">
		<div>%{supplierTotalInfo.total space}</div>
		<div class="busketContent totalSpace">
			<div class="busket">
				<div class="bottle_main">
		    		<div class="bottle_inner">
		    			<div class="water" style="height: 100px;"></div>
		    		</div>
		    		<div class="highlight"></div>
		   		</div>			
			</div>
			<div class="type totalDisk"></div>
		</div>	
	</div>
	<div class="subTotalInfo">
		<div>%{supplierTotalInfo.disk usage}</div>
		<div class="busketContent usageSpace">
			<div class="busket">
				<div class="bottle_main">
		    		<div class="bottle_inner">
		    			<div class="water" style="height: 0px;"></div>
		    		</div>
		    		<div class="highlight"></div>
		   		</div>				
			</div>
			<div class="type diskUsage"></div>
		</div>	
	</div>
	<div class="subTotalInfo">
		<div>%{supplierTotalInfo.avalibility}</div>
		<div class="avalibilityContent">
			<div class="main">
				<div class="graph"></div>
			</div>
			<div class="avalibility"></div>
		</div>
	</div>
</div>