.elucia.messageContainer {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 1;
}

.elucia.messageContainer > .message {
	background: #fed;
    width: 175px;
    line-height: 1.5em; 
    margin-bottom: 10px; 
    padding: 1em;
    position: relative;
    border-radius: 5px;

    font-size: .8em;
    color: #666;
}

.elucia.messageContainer > .message > .pointer {
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 7px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #fed;
	_border-color: #def white white;
	overflow: hidden;
	position: absolute;
	right: -20px;
	top: 10px;
}

/*
.elucia.messageContainer > .message > .pointer {
	width: 0; 
	height: 0; 
	font-size: 0; 
	border-width: 15px; 
	border-style: solid; 
	border-color: #acf transparent transparent; 
	_border-color: #acf white white; 
	overflow: hidden; 
	position: absolute; 
	bottom: -30px;
}
*/