<div class="sysConfig">
	<div class="person">
		<div class="title">%{sysConfig.person}</div>
		<div class="content"></div>
	</div>
	<div class="sys">
		<div class="title">%{sysConfig.sys}</div>
		<div class="content"></div>
	</div>
	<div class="file">
		<div class="title">%{sysConfig.file}</div>
		<div class="content"></div>
	</div>
	<div class="submit">
		<input type="button" value="確定">
	</div>
</div>