<div class="DBMonitor">
	<div class="DBName">${name}</div>
	<div class="block">
		<div class="title">Selected</div>
		<div class="content"></div>
		<div class="footer">

		</div>
	</div>
	<div class="block">
		<div class="title">Updated</div>
		<div class="content"></div>
		<div class="footer">
			
		</div>
	</div>
	<div class="block">
		<div class="title">Inserted</div>
		<div class="content"></div>
		<div class="footer">
			
		</div>
	</div>
	<div class="block">
		<div class="title">Deleted</div>
		<div class="content"></div>
		<div class="footer">
			
		</div>
	</div>
	<div class="block">
		<div class="title">DB Size</div>
		<div class="content"></div>
		<div class="footer">
			
		</div>
	</div>
</div>