<div id="newfolder">
	<div id="icon" class="standard"></div>
	<div class="name" contenteditable="true"></div>
    <div class="date">date</div>
  	<div class="type">type</div>
  	<div class="size">folder</div>
  	<div class="path">path</div>
</div>