<div class="sysSupplierCofMenu">
	<div class="item basic clicked">
		<div class="basicImg img"></div>
		<div class="text">%{sysSupplierCofMenu.basic}</div>
	</div>
	<div class="item share">
		<div class="shareImg img"></div>
		<div class="text">%{sysSupplierCofMenu.share}</div>
	</div>
	<div class="item backup">
		<div class="backupImg img"></div>
		<div class="text">%{sysSupplierCofMenu.backup}</div>
	</div>	
	<div class="item status">
		<div class="msgImg img"></div>
		<div class="text">%{sysSupplierCofMenu.history}</div>
	</div>
</div>