<div class="sysConfigFile">
	<div class="repairArea">
		<div class="picArea">
			<div class="repair"></div>
		</div>
		<div class="repairContent">
			<div class="subTitle">%{sysConfigFile.repair}</div>
			<div><input name="fileRepair" type="text" value="">%{ms}</div>
		</div>
	</div>
	<div class="fileStrageArea">
		<div class="picArea">
			<div class="fileStrage"></div>
		</div>
		<div class="fileStrageContent">
			<div class="subTitle">%{sysConfigFile.fileStrage}</div>
			<div>
				<div class="divisionTitle">%{sysConfigFile.division}</div>
				<div><input name="fileDivision" type="text" value=""></div>
			</div>
			<div>
				<div class="replicationTitle">%{sysConfigFile.replication}</div>
				<div><input name="fileReplication" type="text" value="" /></div>
			</div>
		</div>
	</div>
</div>