<div class="sysSupplierCofMenuStatus">
    <!-- <iframe class="iframeStyle" src="http://10.10.20.19:8888/restore"></iframe> -->


    <div class="tagArea">
    	<div class="tag tagBackupStatus clilced">備份狀態</div>
    	<div class="tag tagBackupLog">備份紀錄</div>
    	<div class="tag tagRestoreStatus">復原狀態</div>
    	<div class="tag tagRestoreLog">復原紀錄</div>
    </div>

    <div class="tagContent">
    	<div class="backupStatus">
    		<table class="tableStyle">
		        <tbody>
		        	
		   		</tbody>
		   	</table>	
    	</div>
    	<div class="backupLog">
    		 <table class="tableStyle">
		        <tbody>
		        	
		   		</tbody>
		   	</table>
    	</div>
    	<div class="restoreStatus">
    		<table class="tableStyle">
		        <tbody>
		        	
		   		</tbody>
		   	</table>
    	</div>
    	<div class="restoreLog">
    		<table class="tableStyle">
			   	<tbody>
			   		
			    </tbody>
		    </table>
    	</div>
    </div>
</div>