<div class="nodeRisk">
	<div class="title">
		<div></div>
		<div>%{nodeRisk.file risk percent}</div>
		<div></div>
		<div>%{nodeRisk.file save percent}</div>
		<div></div>
		<div>%{nodeRisk.file status bad}</div>
	</div>
	<div class="info">
		<div class="totalInfo"></div>
		<div class="nodeInfo"></div>
	</div>
</div>