<div class="desktop">
	<div class="title"></div>
	<div class="apps"></div>
	<div class="system">
		<div class="logout">
			<div class="icon" style="background: url(/images/logout.png)"></div>
			<div class="name">Logout</div>
			<div class="description"></div>
		</div>
	</div>
</div>