<div class="nodeRiskContent">	
	<div class="subNodeRiskOutter">
		<div class="subNodeInfo">
			<div></div>
			<div></div>
		</div>
		<div class="dunutArea">
			<div class="colorInfo">
				<div class="color"></div>
				<div class="info"></div>
			</div>
			<div class="subNodeRisk">	
				<div class="fileNum">
					<div>%{nodeRiskContent.file num}</div>
					<div></div>
				</div>
				<div class="totalSpace">
					<div>%{nodeRiskContent.total space}</div>
					<div></div>
				</div>		
				<div class="useSpace">
					<div>%{nodeRiskContent.use space}</div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</div>