<div id="file" class="grid" tabindex='1'>
	<div id="icon" class="standard"></div>
	<div class="name">abc.txt</div>
  	<div class="date">date</div>
  	<div class="msecond">millisecond</div>
  	<div class="type">type</div>
  	<div class="size">folder</div>
  	<div class="path">path</div>
</div>