<div class="sysConfigSys">
	<div>
		<div class="picArea">
			<div class="supplierMonitorPeriod"></div>
		</div>
		<div class="supplierMonitorPeriodContent">
			<div class="subTitle">%{sysConfigSys.supplierMonitorPeriod}</div>
			<div><input name="sysMonitorPeriod" type="text" value="3000">%{ms}</div>
		</div>
	</div>
</div>