<div class="supplierWidget">
	<div class="supplierInfo">
		<div class="name"></div>
		<div class="machine_ip"></div>
	</div>
	<div class="memory">
		<div class="title">memory loading</div>
		<div class="graph"></div>
	</div>
	<div class="disk">
		<div class="title">disk loading</div>
		<div class="graph"></div>
	</div>
	<div class="cpu">
		<div class="title">%{supplierDetail.cpu loading}</div>
		<div class="graph">
			<div class="utility"></div>
		</div>
		<div class="text"></div>
	</div>
	<div class="network">
		<div class="title">%{supplierDetail.network}</div>
		<div class="msg">
			<div class="io in"></div>
			<div class="text">%{supplierDetail.input}</div>
			<div class="io out"></div>
			<div class="text">%{supplierDetail.output}</div>
		</div>
	</div>
</div>