<div class="sysSupplierCofMenuBackupListDir">
	<div class="title">
		%{sysSupplierCofMenuBackupListDir.selectPath}<div class="close"></div>
	</div>
	<div class="path">
		%{path} : <input type="text" name="path" readonly="readonly">
	</div>
	<div class="content"></div>
	<div class="submit">
		<input type="button" name="submit" value="確定">
	</div>
</div>