<div class="subWigdet">
	<div class="disk"></div>
	<div class="network">
		<div class="title">%{supplierDetail.network}</div>
		<div class="msg">
			<div class="io in"></div>
			<div class="text">%{supplierDetail.input}</div>
			<div class="io out"></div>
			<div>%{supplierDetail.output}</div>
		</div>
	</div>
	<div class="cpu">
		<div class="title">%{supplierDetail.cpu loading}</div>
		<div></div>
	</div>
</div>