<div class="registerSupplierInfo">
	<div class="main">
		<div class="title">Register Supplier Infomation</div>
		<fieldset>
			<div class="row">
				<label>Name</label><input class="name" /><div class="tip"></div>
			</div>
			<div class="row">
				<label>Contact</label><input class="contact" /><div class="tip"></div>
			</div>
			<div class="row">
				<label>Email</label><input class="email" /><div class="tip"></div>
			</div>
			<div class="row">
				<label>Public_IP</label><input class="ext_ip"><div class="tip"></div>
			</div>
		</fieldset>
	</div>
	<div class="footer">			
		<span class="message">Enter your name and contact</span>
		<fieldset>	
			<button class="button" id="submit">Submit</button>
		</fieldset>
	</div>
</div>