<div class="login">
	<div class="main">
		<div class="title">Login</div>
		<fieldset>
			<div class="col">
				<label>User</label><input class="user" />
			</div>
			<div class="col">
				<label>Password</label><input class="password" type="password" />
			</div>
		</fieldset>
	</div>
	<div class="footer">			
		<span class="message">Enter your account and password</span>
		<fieldset>
			<button class="button">Forget?</button>
			<button class="button" id="login">Login</button>
		</fieldset>
	</div>
</div>